<div class="jeux-container">
  <h2>Actualités Jeux Vidéo</h2>

  <div class="jeux-grid">

    <div class="jeux-card">
      <img src="assets/jeux1.jpg" alt="jeux1">
      <h3>PS Store : ma liste de jeux vidéo à posséder absolument sur PS4 et PS5 grâce aux promos jusqu'à -85%</h3>
      <p>Amateurs de grands récits, d'aventures humaines et profondes, d'exploration et de belles pépites indé, vous partagez probablement des goûts similaires aux miens. Ainsi, si vous cherchez actuellement des jeux à découvrir ou redécouvrir pour petits budgets, ces huit titres font partie de mes coups de cœur absolus. Et en ce moment, ils sont à prix réduit sur le PlayStation Store.</p>
      <a href="https://www.jeuxvideo.com/news/2009785/ps-store-ma-liste-de-jeux-video-a-posseder-absolument-sur-ps4-et-ps5-grace-aux-promos-jusqu-a-85.htm" target="_blank">Plus de détails</a>
    </div>

    <div class="jeux-card">
      <img src="assets/jeux2.jpg" alt="jeux2">
      <h3>Licenciements Xbox, Helldivers 2, Ghost Recon... - Les news incontournables de la semaine #17</h3>
      <p>Une bien sombre semaine se termine pour l’industrie du jeu vidéo. Microsoft a licencié comme jamais,
         des projets ont été annulés et des studios fermés. Les joueurs Xbox peuvent tout de même se satisfaire de l’arrivée de Helldivers 2.Il
          est temps de découvrir l’actualité déprimante de ces derniers jours.</p>
      <a href="https://news.instant-gaming.com/fr/articles/13584-licenciements-xbox-helldivers-2-ghost-recon-les-news-incontournables-de-la-semaine-17" target="_blank">Plus de détails</a>
    </div>

    <div class="jeux-card">
      <img src="assets/jeux3.jpg" alt="jeux3">
      <h3>L’équipe en charge de Forza Motorsport n’existerait plus selon un ex-employé de Turn 10.</h3>
      <p>Parmi les studios les plus touchés dans les récents licenciements de Xbox, on retrouve Turn 10, qui va perdre la moitié de ses effectifs durant
        l’opération. Un sacré coup dur pour le studio en charge de la licence Forza Motorsport, qui a connu quelques difficultés avec le tout dernier
         épisode en date. Il pourrait être le tout dernier tout court, du moins si l’on en croit Fred Russel, ex-employé du studio qui a plié bagage en 2016, et qui
         aurait appris via ses sources que l’equipe en charge de la série a été démantelée.</p>
      <a href="https://www.actugaming.net/lequipe-en-charge-de-forza-motorsport-nexisterait-plus-selon-un-ex-employe-de-turn-10-736682/" target="_blank">Plus de détails</a>
    </div>

  </div>
</div>
