<div class="science-container">
  <h2>Actualités Science</h2>

  <div class="science-grid">

    <div class="science-card">
      <img src="assets/science1.jpg" alt="S1">
      <h3>Twitch : Artemis, Dart... et le making of de Sciences et Avenir-La Recherche</h3>
      <p>Mardi 27 septembre, nous étions en direct sur la chaîne Twitch de Sciences et Avenir - La Recherche. Au programme : évocation de l'actualité des sciences... et un lever de rideau sur les coulisses de notre rédaction.</p>
      <a href="https://www.sciencesetavenir.fr/espace/planetes/une-planete-ocean-decouverte-a-100-annees-lumiere-de-la-terre_166629" target="_blank">Plus de détails</a>
    </div>

    <div class="science-card">
      <img src="assets/science2.jpg" alt="S2">
      <h3>Un ex-employé de Twitter condamné pour espionnage au profit de l'Arabie saoudite</h3>
      <p>(Reuters) - Un ancien responsable de Twitter Inc. reconnu coupable d'espionnage au profit de l'Arabie saoudite a été condamné mercredi à trois ans et demi de prison aux États-Unis, ont annoncé les procureurs.</p>
      <a href="https://www.sciencesetavenir.fr/high-tech/un-ex-employe-de-twitter-condamne-pour-espionnage-au-profit-de-l-arabie-saoudite_168372" target="_blank">Plus de détails</a>
    </div>

    <div class="science-card">
      <img src="assets/science3.jpg" alt="S3">
      <h3>La saison en enfer des pompiers canadiens</h3>
      <p>Après des journées dantesques dans des conditions éprouvantes parfois face à des murs de flammes, les milliers de pompiers mobilisés pendant tout l'été au Canada sortent "épuisés" et "inquiets" pour l'avenir.</p>
      <a href="https://www.sciencesetavenir.fr/nature-environnement/la-saison-en-enfer-des-pompiers-canadiens_174257" target="_blank">Plus de détails</a>
    </div>

  </div>
</div>
