<div class="sport-container">
  <h2>Actualités Sport</h2>

  <div class="sport-grid">
  <div class="sport-card">
    <img src="assets/sport1.jpg" alt="S1" width="300">
    <h3>Les athlètes russes et biélorusses bannis des Jeux paralympiques d'hiver</h3>
    <p>La semaine dernière, le Comité international olympique (CIO) a recommandé aux fédérations sportives de ne pas inviter les athlètes russes et biélorusses à des compétitions internationales.</p>
    <a href="https://fr.hespress.com/251454-les-athletes-russes-et-bielorusses-bannis-des-jeux-paralympiques-dhiver.html" target="_blank">Plus de détails</a>
  </div>

  <div class="sport-card">
    <img src="assets/sport2.jpg" alt="S2" width="300">
    <h3>Coupe du trône (16èmes): Chocs RSB-MCO, FAR-MAS et DHJ-RCOZ en perspective</h3>
    <p>Les rencontres des 16èmes de finale se dérouleront du 11 au 13 mars. Le programme complet sera annoncé ultérieurement.</p>
    <a href="https://fr.hespress.com/251601-coupe-du-trone-16emes-chocs-rsb-mco-far-mas-et-dhj-rcoz-en-perspective.html" target="_blank">Plus de détails</a>
  </div>

  <div class="sport-card">
    <img src="assets/sport3.jpg" alt="S3" width="300">
    <h3>Voici le meilleur onze de l'histoire de l'équipe nationale selon IFFHS</h3>
    <p>L’IFFHS a révélé le meilleur onze de l’histoire de la sélection marocaine. Seul un joueur encore en poste y figure.</p>
    <a href="https://fr.hespress.com/251106-voici-le-meilleur-onze-de-lhistoire-de-lequipe-nationale-selon-iffhs.html" target="_blank">Plus de détails</a>
  </div>
  </div>
</div>
